body{
  margin:0;
}
.main{
  width:100%;
  height:619px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  
}

.Buttonbox{
  display: flex;
  justify-content: center;
  align-items: center;
}

.action_button{
  display: block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  color: #ffffff;
  background-color: green;
  cursor: pointer;
  transition: all 200ms ease;
}


.stop_button{
  background-color: red;
}

.reset_button{
  background-color: gray;
}
.change_button{
  background-color: orangered;
}

.action_button:hover{
  box-shadow: 0 0 5px white;
  letter-spacing: 5px;
}

.timer{
  width:200px;
  height:200px;
  border:2px solid;
  border-radius: 50%;
  background-color: rgb(229, 241, 55);
  display: flex;
  justify-content: center;
  align-items: center;
  padding:10px;
}
.text{
  font-size: 20px;
  font-weight: bold;
}